<!--Develop an AngularJS application that displays a list of shopping items. Allow users to add and remove items from the list using directives and controllers-->

<!doctype html>
<html ng-app="App">
    <head>
        <title>ARJS Program 9</title>
        <script src="angular.min.js"></script>
    </head>
    <body ng-controller="Controller">
        <h2>Shopping Cart</h2>
        <input type="text" ng-model="newItem" placeholder="Enter item name" />
        <button ng-click="addItem()">Add</button>
        <br /><br />

        <table ng-if="items.length > 0" border="1px solid black">
            <tr ng-repeat="item in items track by $index">
                <td>{{item}}</td>
                <td>
                    <button ng-click="removeItem($index)">Remove</button>
                </td>
            </tr>
        </table>
    </body>
</html>
<script>
    var app = angular.module("App", []);
    app.controller("Controller", function ($scope) {
        $scope.items = [];
        $scope.addItem = function () {
            if ($scope.newItem && $scope.newItem.trim() !== "") {
                $scope.items.push($scope.newItem);
                $scope.newItem = "";
            }
        };
        $scope.removeItem = function (index) {
            $scope.items.splice(index, 1);
        };
    });
</script>
